# Configuration file for Flake8
[flake8]
# Selectively add individual patterns without overriding the default list entirely
extend-exclude =
    # There is no value in checking cache directories
    __pycache__,
    mypy_cache,
    *.pyc,
    *.venv,
    *.coverage,
    *.pytype,
    _build,
    *.egg-info,


max-line-length = 150
# Display the total number of errors.
count = True
# Count the number of occurrences of each error/warning code and print a report.
statistics = True
# Number of subprocesses that Flake8 will use to run checks in parallel.
jobs = 8
# Enable PyFlakes syntax checking of doctests in docstrings.
doctests = True
