# This file is written by outputs of pip with python 3.12.4
# To update, run:
#
#    pip freeze

aiohappyeyeballs>=2.4.6
aiohttp>=3.11.12
aiosignal>=1.3.2
argcomplete==3.5.3
attrs>=25.1.0
colorama==0.4.6
colorlog==6.9.0
dependency-groups==1.3.0
distlib==0.3.9
filelock==3.17.0
frozenlist>=1.5.0
idna>=3.10
multidict>=6.1.0
nox>=2025.2.9
packaging==24.2
pip>=25.0.1
platformdirs==4.3.6
propcache>=0.2.1
virtualenv==20.29.2
yarl>=1.18.3