# This file is written by outputs of pip with python 3.12.4
# To update, run:
#
#    pip freeze

furo>=2024.8.6
sphinx>=8.2.0
sphinx-autoapi>=3.6.0
sphinx-hoverxref>=1.4.2
sphinx-notfound-page>=1.1.0
sphinx-version-warning>=1.1.2
